/*! Custom styles to override normalize.css */
html {
	overflow-x: hidden;
}
body {
	font-size: 14px;
	line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 0 0 20px;
	color: #333;
	line-height: 1.4;
}
b, strong {
	font-weight: 600;
}
p {
	margin: 0 0 20px;
}
figure > img {
	display: block;
	margin: 0 auto;
}
a,
a:hover,
a:focus {
	transition: all .3s ease;
}


// TODO: Potentially remove this once form styles are implemented
button[type=submit] {
    cursor: pointer;
}