/**
 * GB•BOT - style.css
 *
 * This file is for global frontend styles.
 * 
 */

// Remove margin-bottom by default for last-child text elements
p:last-child,
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}

/* GB footer link */
.gb-link {
	opacity: 0.5;
	transition: opacity 0.2s;
	&:hover {
		opacity: 1
	}
	a {
	color: inherit !important;
		&:hover {
			color: inherit !important;
			text-decoration: underline;
		}
	}
	span {
		white-space: nowrap;
	}
}
.nobreak {
	white-space: nowrap;
}

/* GB Bot back to top */
#scroll-top {
	opacity: 0;
	position: fixed;
	bottom: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	z-index: 100;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-decoration: none;
	transition: opacity 0.3s, background-color 0.3s;
	&:hover {
		background-color: rgba(0, 0, 0, .8);
	}
	&.bottom_right {
		right: 20px;
	}
	&.bottom_left {
		left: 20px;
	}
	svg {
		width: 12px;
		height: 40px;
	}
}

/* Elementor/OceanWP fixes */
.elementor-field-type-checkbox .elementor-field-subgroup .elementor-field-option input {
	display: inline-block !important;
}

/* reCAPTCHA form field */
.elementor-field-type-recaptcha {
	display: flex;
}
.captcha-left .elementor-field-type-recaptcha {
	justify-content: flex-start;
}
.captcha-center .elementor-field-type-recaptcha {
	justify-content: center;
}
.captcha-right .elementor-field-type-recaptcha {
	justify-content: flex-end;
}
.elementor-field-type-recaptcha > .elementor-field {
    background-color: transparent !important;
}
@media (max-width: 767px) {
	.elementor-field-type-recaptcha iframe {
		transform: scale(0.94);
	}
}

/* Dynamic Content Posts v2 - Fix for fading slides with no background */
/* Requires .dce-swiper-fade-fix class */
.dce-swiper-fade-fix .swiper-slide {
    opacity: 0 !important;
}
.dce-swiper-fade-fix .swiper-slide-active:not(.swiper-slide-duplicate),
.dce-swiper-fade-fix .swiper-slide-duplicate-active:not(.swiper-slide-duplicate) {
    opacity: 1 !important;
}

/* Alpine.js [x-cloak] and print-specific visibility styles */
body.elementor-editor-active .visible-on-print,
body.elementor-editor-active [x-cloak] {
	outline: 1px dashed red;
	opacity: 0.8;
}
body:not(.elementor-editor-active) .visible-on-print,
body:not(.elementor-editor-active) [x-cloak] {
	display: none;
}

/*******************************
Various Elementor Default fixes 
********************************/
/* Popup image fix */ 
.elementor-slideshow__header {
	left: 0 !important;
	right: 0 !important;
	width: auto !important;
}

// Fix for popup bg colors
.dialog-widget .dialog-widget-content {
	background-color: #fff;
}

// WYSIWYG Alignment fixes
img.aligncenter,
img.alignright,
.wp-caption.aligncenter,
.wp-caption.alignright {
	display: block;
}

img.aligncenter,
.wp-caption.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

img.alignright,
.wp-caption.alignright {
	margin-left: auto;
}